body {
    /* 高度尺寸应该用js动态获取当前窗口高度,赋值后,便于页脚定位 */
    height: 100%;
    min-height: 510px;
    margin: 0 auto;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
}

.myIndex {
    /* 使用最小高度100%是为了避免撑不开,同时又能包住子元素 */
    min-height: 100%;
    /* background: url("../../assets/images/background.jpeg")  no-repeat; */
    /* background: url("../../assets/images/bg2.gif")  no-repeat; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 头部区域 */
.myHeader {
    padding-top: 10px;
}

.myHeader header {
    width: 100%;
    height: 30px;
    position: relative;
}

.myHeader header .header_con {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
}

/*background-color: gold;*/
.myHeader header .header_con #haed_time {
    font: 28px/30px 'KaiTi';
    color: #ffc107;
}

/* 搜索框区域 */
.searchArea {
    width: 100%;
    margin: 7% auto 0px;
    width: 30%;
    min-width: 400px;
}

.searchArea .search_form {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 0;
    border: 2px solid #0090fc;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}

.searchArea .search_form a {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 5px 12px;
    vertical-align: middle;
    background: url('../../assets/images/baidu.png') center -2px no-repeat;
    background-size: cover;
}

.searchArea .search_form #input_con {
    display: inline-block;
    vertical-align: bottom;
    height: 38px;
    width: calc(100% - 65px);
    margin: 1px 0 0 5px;
    padding: 0px 0px;
    font: normal 16px/37px 'KaiTi';
    color: #333333;
    /*/* 去掉获得焦点(点击)时显示的蓝色的框   */
    outline: none;
}


/* 容器区域 */
section.main_con {
    position: fixed;
    top: 31%;
    width: 100%;
    margin: auto;
}

section.main_con .list_zone {
    position: relative;
    margin: 0 auto;
    width: 50%;
    min-width: 700px;
    overflow: hidden;
}

section.main_con .list_zone .tab_con {
    height: 30px;
}

section.main_con .list_zone .tab_con .tab {
    margin: 0 auto;
    max-width: 1650px;
    width: calc(100% - 200px);
}

section.main_con .list_zone .tab_con .tab button {
    height: 30px;
    width: 60px;
    margin: 0 1px;
    outline: none;
    background: #c8c5c5;
}

section.main_con .list_zone .tab_con .tab .current {
    background-color: #fff;
    border-style: none;
    font: normal 16px/24px 'Microsoft Yahei';
}

section.main_con .list_zone #grid {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    transition: left 400ms linear 0s;
}

section.main_con .list_zone #grid ol.pageList.active {
    display: block;
}

section.main_con .list_zone #grid ol.pageList {
    display: none;
    overflow: hidden;
    font-size: 0;
}

section.main_con .list_zone #grid ol.pageList>li {
    display: inline-block;
    width: 20%;
    min-width: 120px;
    box-sizing: border-box;
}

section.main_con .list_zone #grid.r3 {
    margin: 0 auto 0;
}

section.main_con .list_zone #grid.r2 {
    margin: 50px 0 0;
}

section.main_con .overlay {
    background: rgba(25, 25, 25, 0.3) no-repeat repeat;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: 100;
}

section.main_con .overlay .popup {
    position: fixed;
    margin: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    padding: 10px;
    background: white url('../../assets/images/noise.png') repeat;
    border-color: #9a9fa4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.85) 0 0 6px 0;
    z-index: 1000;
}

section.main_con .overlay .popup input {
    display: block;
    margin: 20px 20px 3px;
    padding: 1px 5px;
    width: 90%;
    height: 30px;
    border: 0.5px solid grey;
}

section.main_con .overlay .popup button {
    width: 80px;
    height: 30px;
    margin: 15px 0 20px 20px;
    padding: 0px;
}


/* 卡片区域 */

.pageCard {
    position: relative;
    margin: 10% auto;
    width: 72%;
    max-width: 150px;
    min-width: 80px;
}

.pageCard .head_btn {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 24px;
    top: -10px;
}

.pageCard .head_btn label {
    background-color: transparent;
    background: url('../../assets/images/controls-431.png');
    cursor: pointer;
    border: 0px none;
    height: 24px;
    width: 24px;
    -moz-appearance: none;
    position: absolute;
}

.pageCard .head_btn label.edit_btn {
    background-position: 177px 0px;
    left: 0px;
}

.pageCard .head_btn label.edit_btn:hover {
    background-position: 177px 25px;
}

.pageCard .head_btn label.bgc_btn {
    background-position: 207px 0px;
    left: 24px;
}

.pageCard .head_btn label.bgc_btn:hover {
    background-position: 207px 25px;
}

.pageCard .head_btn label.del_btn {
    background-position: 147px 0px;
    right: 0;
}

.pageCard .head_btn label.del_btn:hover {
    background-position: 147px 25px;
}

.pageCard .cardCon {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.pageCard .cardCon .scaling-helper {
    padding-top: 100%;
}

.pageCard .cardCon .content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    overflow: hidden;
}

.pageCard .cardCon .content.empty {
    /*没有标签用虚线*/
    border-style: dashed;
    overflow: auto;
    background: url('../../assets/images/plus.png') scroll center center no-repeat, url('../../assets/images/noise.png') repeat;
}

.pageCard .cardCon img {
    display: block;
    height: 100%;
    transition: all 600ms ease;
}

.pageCard .cardCon p.title {
    display: block;
    /*background: rgb(250,250,250) none repeat scroll;*/
    position: absolute;
    bottom: 20px;
    height: 25px;
    width: 100%;
    overflow: hidden;
    font: normal 20px/25px 'KaiTi';
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 400ms ease;
}

.pageCard:hover .head_btn {
    display: block;
    z-index: 10;
}

.pageCard:hover .content {
    border-color: #9a9fa4;
    box-shadow: rgba(0, 0, 0, 0.85) 0 0 6px 0;
    cursor: pointer;
}

.pageCard:hover .content img {
    transform: scale(1.2, 1.2);
    z-index: 1;
}

.pageCard:hover .content .title {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.3);
    color: #ff8800;
    z-index: 2;
}


/* 底部页脚 */
footer.myfooter {
    position: fixed;
    bottom: 5px;
    width: 100%;
    /*border-top: 2px solid lightgray;*/
    background: rgba(242, 242, 242, 0.1);
    margin: 15px 0 0px;
}

/*border-bottom: 1px solid #cecece;*/
footer.myfooter .footer_link {
    text-align: center;
    margin: 4px;
}

footer.myfooter .footer_link a {
    color: #a5a1a1;
    font-size: 14px;
}

footer.myfooter .footer_link a:hover {
    color: #f80;
}

footer.myfooter .footer_link span {
    color: #4e4e4e;
    font-size: 14px;
    padding: 0px 10px;
}

footer.myfooter p {
    text-align: center;
    margin: 5px auto 3px;
    font-size: 13px;
    color: #a5a1a1;
}

/* 工具栏 */
.toolbar {
    position: absolute;
    bottom: 150px;
    right: 15px;
    height: 100px;
    width: 50px;
    z-index: 2;
}

#toolbar.toolbar nav label {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: 0px none;
    height: 40px;
    width: 40px;
    -moz-appearance: none;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    margin-bottom: 20px;
}

.toolbar nav label.set_btn {
    background: url('../../assets/images/setting.png');
}

.toolbar nav label.bgc_btn {
    background: url('../../assets/images/bgset.png');
}

.toolbar .overlay {
    background: rgba(25, 25, 25, 0.3) no-repeat repeat;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: 100;
}

.toolbar .overlay .popup {
    position: fixed;
    margin: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    min-height: 120px;
    /* padding: 10px; */
    background: white url('../../assets/images/noise.png') repeat;
    border-color: rgb(154, 159, 164);
    box-shadow: rgba(0, 0, 0, 0.85) 0 0 6px 0;
    z-index: 1000;
    border-radius: 10px;
}

.toolbar .overlay .popup p.title {
    font-size: 18px;
    height: 20px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.toolbar .overlay .popup li {
    padding: 2px 30px;
    cursor: pointer;
    width: 100px;
    height: 20px;
}

.toolbar .overlay .popup div {
    width: 100%;
    height: 60px;
    padding: 15px 0 15px;
    box-sizing: border-box;
    text-align: center;
}

.toolbar .overlay .popup button {
    width: 100px;
    height: 30px;
    padding: 0px;
    margin: 0 10px;
}

/*  */